@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.voice-visualizer {
  --main-bar-color: #000000;
  --secondary-bar-color: #888888;
  --background-color: #ffffff;
}

.number-input {
  color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  .voice-visualizer {
    --main-bar-color: #ffffff;
    --secondary-bar-color: #bbbbbb;
    --background-color: #000000;
  }

  .number-input {
    color: #FFFFFF;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}