@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.voice-visualizer {
  --main-bar-color: #000000;
  --secondary-bar-color: #888888;
  --background-color: #ffffff;
}

.number-input {
  color: #000000;
}

.webcam-display {
  width: auto;  /* Adjust to desired width */
  height: 250px;
}

.voice-visualizer * {
  user-select: none;  /* Disable text and element selection */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  .voice-visualizer {
    --main-bar-color: #ffffff;
    --secondary-bar-color: #bbbbbb;
    --background-color: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Define the ellipse radial gradient */
.ellipse-gradient {
  background: radial-gradient(ellipse at center, #347136 0%, rgba(76, 175, 80, 0) 70%);
  /* Green gradient (#4caf50 is the hex code for a medium green) */
}

/* Rotate class with custom 40-degree rotation */
.rotate-\[40deg\] {
  --tw-rotate: 40deg;
}
